-i "https://mirrors.aliyun.com/pypi/simple"
celery==4.3.0
vine==1.3.0
requests
redis
gevent
tqdm
aiohttp==3.8.1
aioredis
fastapi
httpx
lxml
bs4
pyquery
pandas
numpy
pymysql
pymongo
redis
selenium
peewee==3.14.8
pycrypto